{% extends "base.html" %}

{% import 'paginator.html' as paginator %}
{% import 'book_card.html' as book_card %}

{% set n = books|length %}
{% set cols = ((n-1)//6) + 1 %}

{% block content %}
<section class="container has-text-centered is-spaced" style="padding: 30px">
  {{ paginator.paginator(page, 'index', next_url, prev_url) }}

  {% for j in range(cols) %}
  <div class="columns bookshelf">
    {% for i in range(6) %}
      {% set k = 6*j + i %}
      <div class="column">
        {% if k < n %}
          {% set num_ratings = ratings[k][0] %}
          {% set average_rating = ratings[k][1] %}
          {% set id = 'book_card_' + k|string %}
          {{ book_card.book_card(books[k], num_ratings, average_rating, id) }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% endfor %}

  {{ paginator.paginator(page, 'index', next_url, prev_url) }}
</section>
{% endblock %}
