{% extends "base.html" %}

{% import 'paginator.html' as paginator %}
{% import 'book_card.html' as book_card %}

{% set n = books|length %}
{% set cols = ((n-1)//6) + 1 %}

{% block content %}
<section class="hero has-text-left is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome {{ current_user.username }}
      </h1>
      <h2 class="subtitle">
        Here are the books you have rated.
      </h2>
    </div>
  </div>
</section>

<section class="container has-text-centered is-spaced" style="padding: 30px">
    {% if n > 0 %}
        {% if num_pages > 1 %}
            {{ paginator.paginator(page, 'profile', next_url, prev_url, num_pages) }}
        {% endif %}

        {% for j in range(cols) %}
        <div class="columns bookshelf">
            {% for i in range(6) %}
            {% set k = 6*j + i %}
            <div class="column">
                {% if k < n %}
                    {% set num_ratings = ratings[k][0] %}
                    {% set average_rating = ratings[k][1] %}
                    {% set id = 'book_card_' + k|string %}
                    {{ book_card.book_card(books[k], num_ratings, average_rating, id) }}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% if num_pages > 1 %}
            {{ paginator.paginator(page, 'profile', next_url, prev_url, num_pages) }}
        {% endif %}
    {% else %}
        <h1>You have not rated any books yet.</h1>
    {% endif %}
</section>

{% endblock %}
