{% extends "base.html" %}

{% import 'paginator.html' as paginator %}
{% import 'book_card.html' as book_card %}

{% set n = books|length %}
{% set cols = ((n-1)//6) + 1 %}

{% block content %}
<section class="hero has-text-left is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome {{ current_user.username }}
      </h1>
      <h2 class="subtitle">
        Here are the books you have rated.
      </h2>
    </div>
  </div>
</section>

<section class="container has-text-centered is-spaced" style="padding: 30px">
    {% if n > 0 or search != '' %}
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
                <div class="field has-addons">
                  <div class="control">
                      <input class="input search-books" type="text" name="search" id="search_profile" placeholder="Search for a book" list="searchresults" autocomplete="off" oninput="searchBooks(this.value, this.id)">
                  </div>
                  <div class="control">
                    <a id="search_profile_button" class="button is-info search-button" onclick="submitSearch()">
                      Search
                    </a>
                  </div>
                </div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              {% if num_pages > 1 %}
                {{ paginator.paginator(page, 'profile', next_url, prev_url, num_pages) }}
              {% endif %}
            </div>
          </div>
        </nav>

        {% if search != '' %}
          <div class="notification is-info" style="background-color: #288">
            <a class="delete" href="/profile"></a>
            Search results for <strong>"{{ search }}"</strong>
          </div>
        {% endif %}

        {% for j in range(cols) %}
        <div class="columns bookshelf">
            {% for i in range(6) %}
            {% set k = 6*j + i %}
            <div class="column">
                {% if k < n %}
                    {% set num_ratings = ratings[k][0] %}
                    {% set average_rating = ratings[k][1] %}
                    {% set user_rating = ratings[k][2] %}
                    {% set id = 'book_card_' + k|string %}
                    {{ book_card.book_card(books[k], num_ratings, average_rating, user_rating, id) }}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        {% if n == 0 %}
          <h1>No results found.</h1>
        {% endif %}

        {% if num_pages > 1 %}
            {{ paginator.paginator(page, 'profile', next_url, prev_url, num_pages) }}
        {% endif %}
    {% else %}
        <h1>You have not rated any books yet.</h1>
    {% endif %}
</section>

{% endblock %}
