{% extends "base.html" %}

{% import 'book_card.html' as book_card %}

{% set n = books|length %}
{% set cols = ((n-1)//6) + 1 %}

{% block content %}
<section class="hero has-text-left is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome {{ current_user.username }}
      </h1>
      <h2 class="subtitle">
        Here are some books we think you'll enjoy!
      </h2>
    </div>
  </div>
</section>

<section class="container has-text-centered is-spaced" style="padding: 30px">
  {% if n > 0 %}
      {% for j in range(cols) %}
      <div class="columns bookshelf">
          {% for i in range(6) %}
          {% set k = 6*j + i %}
          <div class="column">
              {% if k < n %}
                  {% set num_ratings = ratings[k][0] %}
                  {% set average_rating = ratings[k][1] %}
                  {% set user_rating = ratings[k][2] %}
                  {% set id = 'book_card_' + k|string %}
                  {{ book_card.book_card(books[k], num_ratings, average_rating, user_rating, id) }}
              {% endif %}
          </div>
          {% endfor %}
      </div>
      {% endfor %}
  {% else %}
      <h1>We cannot recommend anything to you yet!</h1>
  {% endif %}
</section>

{% endblock %}
